---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  abbr: string;
  name: string;
  imagePath: string;
  imageLoading: "eager" | "lazy";
}

const { abbr, name, imagePath, imageLoading } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/crests/*.svg");
let image;

if (images[imagePath]) {
  image = await images[imagePath]();
} else {
  throw new Error(`"${imagePath}" doesn't exist in folder: "src/assets/crests/*.svg"`);
}
---

<a
  href={image.default.src}
  download
  class="flex flex-col items-center rounded-lg border border-slate-900 px-4 py-12 transition-colors hover:border-slate-800 hover:bg-slate-900"
>
  <Image
    src={image.default}
    alt={`${name}'s crest'`}
    loading={imageLoading}
    class="mb-2 h-6 w-6 border border-dotted border-violet-700 object-contain"
  />
  <h2 class="text-sm font-bold uppercase">
    {abbr}
  </h2>
  <p class="inline-block w-full truncate text-center text-xs text-slate-500">
    {name}
  </p>
</a>
